<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461335962948-co0hh7vgfsnpv3miq56nqfgl7mecj7eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461335962948-co0hh7vgfsnpv3miq56nqfgl7mecj7eu</string>
	<key>API_KEY</key>
	<string>AIzaSyDAkhWZXzXM4O6kuPxkhcMlTRaydxiqumI</string>
	<key>GCM_SENDER_ID</key>
	<string>461335962948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>kisun-cc398</string>
	<key>STORAGE_BUCKET</key>
	<string>kisun-cc398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461335962948:ios:eec6433a3a0342f692a311</string>
</dict>
</plist>